* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    margin: 44px 0 144px 76px;
}

.link-header {

    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    margin-right: 23px;
    text-decoration:none;
}

.button-header {
    background: #665AE1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;

}

.logo-image {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

section {
    display: inline-block;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    /* identical to box height */
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    /* identical to box height */
    color: #515151;
}

p {
    width: 515px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    text-align: justify;
    margin-top: 32px;
    margin-bottom: 65px;
}

.button-main {
    background: #ADFF00;
    border-radius: 30px;
    width: 239px;
    height: 64px;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    cursor: pointer;

}

@media screen and (max-width: 870px) {

    header{
        margin: 0;
    }
    .link-header,
    p {
        display: none;
    }

    .button-header{
        margin: 30px 60px;
        display: block;
    }

    .logo-image {
        display: block;
        margin: 100px 22px 24px 14px;
        width: 352px;
        height: 317px;
    }


    h1 {
        font-weight: 900;
        font-size: 50px;
        line-height: 61px;
        color: #515151;
        width: 263px;
        height: 52px;
        text-align: center;
        margin: 0 63px;
    }

    h2 {
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        color: #515151;
        width: 232px;
        height: 37px;
        margin: 7px 79px 17px 79px;
        text-align: center;
    }

    .button-main {
        background: #ADFF00;
        border-radius: 20.5px;
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        color: #000000;
        margin: 0 76px;
    }
}